<div class= "col-sm-6">
  <form #f="ngForm" (ngSubmit)="submit(f.value)">
    <label>Name</label>
      <div class="form-group">
        
          <input type="text" name="name" class="form-control" [(ngModel)]="userDetails.name " #name="ngModel" maxlength="15"minlength ="2" required #refName>
          
          <div *ngIf="name.errors && (name.dirty || name.touched)"
          class="alert alert-danger">
          <div [hidden]="!name.errors.required">
          Name is required
          </div>
          <div [hidden]="!name.errors.minlength">
          Name must be at least 2 characters long.
          </div>
          <div [hidden]="!name.errors.maxlength">
          Name cannot exceed 15 characters.
          </div>
        </div> 
        </div>
        <label>DATE</label>
        <div class="form-group">
            <input type="date" name="date" class="fo  rm-control" #date="ngModel" #date="ngModel" [(ngModel)]="userDetails.date"  #refDate>
            <div *ngIf="date.errors && (date.dirty || date.touched)"
            class="alert alert-danger">
            <div [hidden]="!date.errors.required">
           DATE is required
            </div>
            </div>
        </div>
        <div class="form-group">
            <select class="txt-box" name="gender" [(ngModel)]="userDetails.genderType" class="form-control"  #refGender>
              <option [value]="userDetails.genderType" [disabled]="true">Select Option </option>
                <option *ngFor="let gender of genderArray" [ngValue]="gender.value">
                {{gender.value}}
                </option>
          </select>
        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid" >Submit</button>
        
      </div>
      
  </form>
</div>
<div *ngIf="arrayList.length > 0">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            
            <th>DATE</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayList">
            <td>{{item.name | uppercase}} </td>
            <td>{{item.date|date:'mediumDate'}} </td>
            <td>{{item.gender}}</td>
             </tr>
        </tbody>
      </table>
    </div>
  </div>
